.App {
  font-family: sans-serif;
  text-align: center;
}

.Search form {
  display: block;
  text-align: center;
}

.Search input {
  padding: 5px;
  margin: 2px;
}

.Search h3 {
  text-align: center;
}

.Search li {
  list-style: none;
}

.Search ul {
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Footer a {
  font-size: 12px;
}

.Footer p {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
