.Search {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.Search input {
  margin: 3px;
}

.Search #submit-button,
.Search #current-city-button {
  background-color: #466390;
  color: white;
  text-align: center;
  border: solid 1px white;
  border-radius: 5px;
}

.Search #submit-button:hover,
.Search #current-city-button:hover {
  background-color: white;
  color: #466390;
}

.Search #search-input {
  background-color: white;
  color: #466390;
  text-align: center;
  border: solid 1px #466390;
  border-radius: 5px;
}

.Search #search-input::placeholder {
  color: #466390;
}

@media (max-width: 768px) {
  .Search form {
    max-width: fit-content;
  }
}
