.Weather canvas {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  aspect-ratio: 1/1;
}

.Weather .conditions {
  font-size: 15px;
  color: white;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  opacity: 80%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.Weather h1 {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #fefdb0;
}

.Weather h2 {
  text-align: center;
  margin-bottom: 0;
}

.Weather a {
  text-decoration: none;
  color: #96b1c1;
}
