.Weather canvas {
  display: block;
  margin: 0 auto;
  aspect-ratio: 1/1;
}

.Weather .conditions {
  font-size: 15px;
  color: white;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  opacity: 80%;
  margin-bottom: 30px;
}

.Weather h1 {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #fefdb0;
}

.Weather h2 {
  text-align: center;
  margin-bottom: 0;
}

.Weather .high {
  font-size: 40px;
  font-weight: bold;
  color: #efe092;
}

.Weather .degree {
  font-size: 15px;
  vertical-align: top;
  font-size: 20px;
  line-height: 1.6;
}

.Weather a {
  text-decoration: none;
  color: #96b1c1;
}

.Weather .weather-grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  max-width: 300px;
  text-align: center;
  margin-top: 20px;
}

.Weather .humidity,
.Weather .wind-speed,
.Weather .feels-like {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
  opacity: 85%;
}

.Weather .feels-like,
.Weather .date {
  font-size: 14px;
  color: #96b1c1;
  margin-top: 0;
}
